# Working with Dates and Times in Python
--- 

Working with date and times is a vital skill, because many data include date/time information, including:

- Weather data with dates and/or times.
- Computer logs with the timestamp for each event.
- Sales data with date/time range included.

### Instructions

1. Use the  __`open()`__ function to open the CSV file `potus_visitors_2015.csv`
2. Use the __`reader()`__ function to read the opened file.
3. Use the __`list()`__ function to convert the read file into a list of lists format.
4. Assign the list of lists to the variable name `potus`.
5. Remove the first row of the data set, which contains the column names.

In [1]:
from csv import reader

opened_file = open('potus_visitors_2015.csv')
read_file = reader(opened_file)
potus = list(read_file)
potus_head = potus[0]
potus = potus[1:]

---
## Instructions

- Import the `datetime` module with the alias `dt`

#### Solution:

In [2]:
import datetime as dt

### Instructions

- Import the __`datetime`__ class using the alias __`dt`__.
- Instantiate a datetime object representing midnight on June 16, 1911. Assign the object to the variable name `ibm_founded`.
- Instantiate a datetime object representing 8:17 p.m. on July 20, 1969. Assign the object to the variable name `man_on_moon`.

In [3]:
ibm_founded = dt.datetime(1911, 6, 16)
man_on_moon = dt.datetime(1969, 7, 20, 20, 17)

In [4]:
print(man_on_moon)

1969-07-20 20:17:00

### Instructions:

1. Create a string __`date_format`__ that specifies the format of the __`appt_start_date`__ column:
    - The format of the __`app_start_date`__ column is `{month}/{day}/{two digit year} {hour 24hr time}:{minute}`.
    - Substitute each of the values inside braces with the appropriate strftime code from the table above.
    
    
2. Iterate over each row in the potus list of lists:
    - Assign the __`appt_start_date`__ column, found at index 2 of each row, to a variable.
    - Use the __`datetime.strptime()`__ constructor to convert the variable from a string to a datetime object, using the __`date_format`__ string you created earlier.
    - Assign the `datetime` object back to index 2 of the row.

In [5]:
dt_format_potus = '%m/%d/%y %H:%M'

for row in potus:
    start_date = row[2]
    start_date = dt.datetime.strptime(start_date, dt_format_potus)
    row[2] = start_date

In [6]:
print(potus[:1])

[['Joshua T. Blanton', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), '1/6/15 23:59', '', 'potus', 'west wing', 'JointService Military Honor Guard']]

In [7]:
potus_head

['name',
 'appt_made_date',
 'appt_start_date',
 'appt_end_date',
 'visitee_namelast',
 'visitee_namefirst',
 'meeting_room',
 'description']

### Instructions

1. Initialize an empty dictionary, `visitors_per_month`.
2. Iterate over the rows in the __`potus`__ list of lists. In each iteration:
    - Assign the `datetime` object from the __`appt_start_date`__ column (index 2) to a variable.
    - Call the __`datetime.strftime()`__ method on the __`appt_start_date`__ object to create a string in the format __`"January, 1901"`__.
        - The format code for the name of the month is __`%B`__
        - The format code for a four-digit year is __`%Y`__.
    - If the string is not a key in __`visitors_per_month`__, add it as a key with a value of 1.
    - Otherwise, add 1 to the existing value for that key.

In [8]:
visitors_per_month = {}
new_format = '%B, %Y'

for row in potus:
    appt_start_date = row[2]
    appt_start_date = dt.datetime.strftime(appt_start_date, new_format)
    if appt_start_date in visitors_per_month:
        visitors_per_month[appt_start_date] += 1
    else:
        visitors_per_month[appt_start_date] = 1

In [9]:
visitors_per_month

{'January, 2015': 1248,
 'February, 2015': 2165,
 'March, 2015': 2262,
 'April, 2015': 4996,
 'May, 2015': 3013,
 'June, 2015': 7743,
 'July, 2015': 2930,
 'August, 2015': 1350,
 'September, 2015': 4416,
 'October, 2015': 3669,
 'November, 2015': 1133,
 'December, 2015': 13029}

### Instructions

1. Instantiate an empty __`appt_times`__ list.
2. Iterate over each row in the __`potus`__ list of lists. For each iteration:
    - Assign the __`datetime`__ object stored at index value 2 to a variable.
    - Create a time object from the __`datetime`__ object.
    - Append the time object to the __`appt_times`__ list.

In [10]:
appt_times = []

for row in potus:
    visit_time = row[2]
    visit_time = visit_time.time()
    appt_times.append(visit_time)

### Instructions

1. Assign the earliest appointment time from the `appt_times` list to the variable `min_time`.
2. Assign the latest appointment time from the `appt_times` list to the variable `max_time`.

In [11]:
min_time = min(appt_times)
max_time = max(appt_times)

### Instructions

1. Calculate the time between `dt_2` and `dt_1` and assign the result to `answer_1`.
2. Add `56 days` to `dt_3` and assign the result to `answer_2`.
3. Subtract `3600 seconds` from `dt_4` and assign the result to `answer_3`.

In [12]:
dt_1 = dt.datetime(1981, 1, 31)
dt_2 = dt.datetime(1984, 6, 28)
dt_3 = dt.datetime(2016, 5, 24)
dt_4 = dt.datetime(2001, 1, 1, 8, 24, 13)

answer_1 = dt_2 - dt_1
answer_2 = dt_3 + dt.timedelta(days = 56)
answer_3 = dt_4 + dt.timedelta(seconds = 3600)

### Instructions

We have provided code that converts the `appt_end_date` to `datetime` objects.

1. Instantiate an empty dictionary for our frequency table, `appt_lengths`.
2. Loop over each row in `potus`, and:
    - Assign the values for `appt_start_date` (index 2) and `appt_end_date` (index 3) to variables.
    - Subtract `appt_start_date` from `appt_end_date` to calculate the length of the appointment, `length`.
        - __If length is not a key__ in `appt_lengths`, add it as a key with a value of `1`.
        - __If length is a key in appt_lengths__, add 1 to the existing value of that key.
3. Calculate the minimum key in `appt_lengths` and assign the result to `min_length`.
4. Calculate the maximum key in `appt_lengths` and assign the result to `max_length`.

In [13]:
appt_lengths = {}

for row in potus:

    start_time = row[2]
    end_time = row[3]
    end_time = dt.datetime.strptime(end_time, dt_format_potus)
    
    length = end_time - start_time
    
    if length in appt_lengths:
        appt_lengths[length] += 1
    else:
        appt_lengths[length] = 1
        
min_length = min(appt_lengths)
max_length = max(appt_lengths)

In [14]:
print(min_length)

2:29:00

In [15]:
print(max_length)

16 days, 12:59:00